.login {
  width: 100vw;
  height: 100vh;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: repeat;
}
.login-container {
  width: 60%;
  height: 70%;
  border-radius: 8px;
  background-color: var(--brown);
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}
@media (max-width: 880px) {
  .login-container {
    width: 80vw;
    height: 70vw;
  }
}
@media (max-width: 672px) {
  .login-container {
    height: 30rem;
  }
}
.login-container > * {
  width: 50%;
  height: 100%;
}
.login-left {
  background-color: var(--brown-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}
@media (max-width: 672px) {
  .login-left {
    width: 100%;
  }
}
.login-left a {
  color: var(--brown-700);
  text-decoration: underline;
  margin: 0 0.35rem;
  font-size: 0.875rem;
}
.login-left > * {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.login-left-form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
}
.login-left-form-group {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}
.login-left-form label {
  color: var(--brown);
}
.login-left-form input:active, .login-left-form input:focus {
  border-bottom: 2px solid var(--brown);
}
.login-left-form input:active + label,
.login-left-form input:focus + label {
  color: var(--brown-700);
}
.login-left-form button {
  width: 40%;
}
.login-left-bottom {
  height: 20%;
  flex-flow: row;
  font-size: 0.875rem;
}
.login-left-title {
  width: 100%;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--brown-700);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem 0;
  padding: 1rem 1.5rem;
}
.login-right {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0.5rem;
}
@media (max-width: 672px) {
  .login-right {
    width: 0;
    padding: 0;
  }
}

/*# sourceMappingURL=login.css.map */
