@import "../../config";

.login {
	width: 100vw;
	height: 100vh;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: repeat;

	&-container {
		width: 60%;
		height: 70%;
		border-radius: 8px;
		background-color: var(--brown);
		display: flex;
		justify-content: center;
		align-content: center;
		overflow: hidden;

		@include respond(tab) {
			width: 80vw;
			height: 70vw;
		}

		@include respond(phone) {
			height: 30rem;
		}

		&>* {
			width: 50%;
			height: 100%;
		}
	}

	&-left {
		background-color: var(--brown-100);
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: column;

		@include respond(phone) {
			width: 100%;
		}

		a {
			color: var(--brown-700);
			text-decoration: underline;
			margin: 0 0.35rem;
			font-size: 0.875rem;
		}

		&>* {
			width: 100%;
			height: 80%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column;
		}

		&-form {
			width: 100%;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-flow: column;

			&-group {
				width: 90%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 0.5rem 0;
			}

			label {
				color: var(--brown);
			}

			input {

				&:active,
				&:focus {
					border-bottom: 2px solid var(--brown);
				}
			}

			input:active+label,
			input:focus+label {
				color: var(--brown-700);
			}

			button {
				width: 40%;
			}
		}

		&-bottom {
			height: 20%;
			flex-flow: row;
			font-size: 0.875rem;
		}

		&-title {
			width: 100%;
			font-size: 2rem;
			line-height: 2.5rem;
			color: var(--brown-700);
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin: 0.5rem 0;
			padding: 1rem 1.5rem;
		}
	}

	&-right {
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		padding: 0.5rem;

		@include respond(phone) {
			width: 0;
			padding: 0;
		}
	}
}