.register {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brown-700);
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
.register-container {
  width: 60%;
  height: 85%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  background: linear-gradient(90deg, #795548, #d7ccc8);
  position: relative;
  box-shadow: var(--shadow-3d);
}
@media (max-width: 900px) {
  .register-container {
    width: 80%;
  }
}
.register-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  clip-path: inset(0 0 0 0);
}
.register-background-shape {
  transform: rotate(45deg);
  position: absolute;
}
.register-background-shape__1 {
  height: 520px;
  width: 520px;
  background: var(--back-shadow-light);
  top: -50px;
  right: 120px;
  border-radius: 72px;
}
.register-background-shape__2 {
  height: 220px;
  width: 220px;
  background: var(--brown);
  top: -172px;
  right: 0;
  border-radius: 32px;
}
.register-background-shape__3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, var(--brown-400), var(--brown-700));
  top: -24px;
  right: 0;
  border-radius: 32px;
}
.register-background-shape__4 {
  height: 400px;
  width: 200px;
  background: var(--brown-400);
  top: 420px;
  right: 50px;
  border-radius: 60px;
}
.register-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  z-index: 5;
}
.register a {
  color: var(--white);
  text-decoration: underline;
  margin: 0 0.35rem;
  font-size: 0.875rem;
}
.register-title {
  width: 100%;
  height: 15%;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  padding: 1rem 1.5rem;
}
.register-title button {
  color: var(--white);
}
.register-form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
}
.register-form .row:nth-child(4) .form-group {
  width: 95%;
}
.register-form-group {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.register-form-group:last-child button {
  width: 40%;
  margin: 0 auto;
}
.register-form label {
  color: var(--bgcolor);
}
.register-form input {
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  color: var(--white);
  margin: 0.5rem 0;
}
.register-form input:active, .register-form input:focus {
  border-bottom: 2px solid var(--bgcolor);
}
.register-form input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.register-form input:active + label,
.register-form input:focus + label {
  color: var(--bgcolor-700);
}
.register-bottom {
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: row;
  margin: 1rem 0 0 0;
  padding: 1rem;
  font-size: 0.875rem;
}
.register-right {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0.5rem;
}

/*# sourceMappingURL=register.css.map */
