@import "../../config";

.profile {
    width: 100%;
    padding-top: var(--head-height);
    display: flex;
    justify-content: center;
    align-items: center;

    &-container {
        width: 80%;
        height: 37.5rem;
        background-color: var(--back-shadow-light);
        border-radius: 8px;
        margin-top: 1.5rem;
        padding: 1rem 2rem 2rem 2rem;
        position: relative;
        box-shadow: var(--shadow-elevation-2dp);

        @include respond(phone) {
            height: auto;
        }
    }

    &-head {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 1rem 2rem 2rem;
        margin-bottom: 1rem;

        &-title {
            font-size: 2.5rem;
            line-height: 2.75rem;
        }

        &-buttons {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }

    &-image {
        width: 15rem;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 16px;
        margin: 0 0 2rem 0;

        img {
            object-fit: cover;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .form-group {
        margin: 1rem 0;
    }

    input {
        font-size: 1.125rem;

        &[name='name'] {
            padding: 0.6rem;
            font-size: 2rem;
        }
    }
}