.events {
  margin-top: var(--head-height);
  width: 100%;
  min-height: calc(100vh - var(--head-height));
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
}
.events-head {
  width: 100%;
  height: 7.5rem;
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 100;
  padding: 0.35rem 4rem;
  margin: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.events-body {
  width: 100%;
  margin: 0.5rem 0;
}
.events-body-section {
  width: 100%;
  margin: 0.5rem auto;
}
.events-body-section__head {
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 0.5rem 4rem;
}
.events-body-section__body {
  width: 85%;
  margin: 0 auto;
}

.event {
  width: 21rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  margin: 1.5rem 0;
  background-color: var(--bgcolor-100);
  border-radius: 32px;
}
@media (max-width: 672px) {
  .event {
    height: 8rem;
  }
}
.event:hover {
  background-color: var(--bgcolor-400);
  border-radius: 16px;
}
.event > * {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.event__icon {
  width: 17.5%;
  justify-content: flex-end;
}
.event__icon .material-symbols-outlined {
  font-size: 1.75rem;
}
@media (max-width: 672px) {
  .event__icon .material-symbols-outlined {
    font-size: 1.5rem;
  }
}
.event-details {
  width: 82.5%;
  flex-flow: column;
  position: relative;
}
.event-details > * {
  width: 80%;
  height: 35%;
  padding: 0.15rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.event-details__title {
  font-size: 1.35rem;
  line-height: 1.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.event-details__date {
  font-size: 1rem;
}
.event-details__delete {
  width: fit-content;
  position: absolute;
  bottom: 0.75rem;
  right: 0.75rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  display: none;
}
.event-details__delete button {
  margin-left: 0.75rem;
}
.event:hover .event-details__delete {
  display: flex;
}

.add-event-form {
  width: 90%;
  margin: 2rem auto;
}
.add-event-form .form-group {
  width: 100%;
  margin: 1rem auto;
}

.event-dialog-form {
  width: 90%;
  margin: 2rem auto;
}
.event-dialog-form .form-group {
  width: 100%;
  margin: 1rem auto;
}

/*# sourceMappingURL=events.css.map */
